/ Last update: <a id="update-time" class="<%= class_name %>"></a>
/ Contributors: <ul style="display: inline-block; list-style:none" id="contributors" class="github-contributors"> </ul>

<script type="text/javascript">
  const sourceUrl = "<%- source_url %>";
  const urlParts = sourceUrl.split("/");
  const user = urlParts[3];
  const repo = urlParts[4];
  const filePath = urlParts.slice(7).join("/");
  const apiUrl = `https://api.github.com/repos/${user}/${repo}/commits?path=${filePath}`;
  function formatDate(date) {
    let year = date.getFullYear();
    let month = date.getMonth() + 1;
    let day = date.getDate();

    if (month < 10) {
      month = '0' + month;
    }
    if (day < 10) {
      day = '0' + day;
    }

    return year + '-' + month + '-' + day;
  }

  $.getJSON(apiUrl, function (data) {
    const commit = data[0];
    const updateDate = new Date(commit.commit.author.date);
    const localDate = formatDate(updateDate);
    const contributors = new Map();

    data.reverse().forEach(function (commit) {
      if (commit.author == null) {
        return;
      } else {
        const name = commit.author.login;
        const url = commit.author.html_url;
        const avatar = commit.author.avatar_url;
        contributors.set(name, { name, url, avatar });
      }
    });

    $("#update-time").text(localDate);
    $("#update-time").href = commit.html_url;
    Array.from(contributors, ([_, value]) => value).reverse().forEach(function (contributor) {
      $("#contributors").append(`<li class="contributor-avatar"><a href="https://github.com/${contributor.name}" title="${contributor.name}"><img src="${contributor.avatar}" alt="${contributor.name}"/></a></li>`);
    });
  });
</script>